body {
  background-color: #fff2fc;
  padding-top: 5rem;
}

.narrow-wrap {
  max-width: 540px;
  margin: 0 auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.modal.show {
  display: block;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.subtle-text {
  color: #aaa;
  font-size: 1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  border-radius: 0.5rem;
}

.big-button {
  font-size: 2rem;
}

.game-page {
}

.game-grid {
  margin: 0 auto;
  font-size: 0;
  background: #c5d86d;
  padding: 0.2rem;
  text-align: center;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.grid-square {
  background-color: #1b998b;
  color: #fff;
  display: flex;
  flex: 1 1;
  margin: 0.2rem;
  border-radius: 0.5rem;
  overflow: hidden;
  padding-top: calc(20% - 0.5rem);
  height: 0;
  position: relative;
}

.grid-square.alt-color {
  background-color: #0c969e;
}

.grid-square.flash-animate {
  -webkit-animation: flash linear 0.5s 1;
  animation: flash linear 0.5s 1;
}

.grid-square a {
  font-size: 22px;
  line-height: 50px;
  background: #1b998b;
  border-radius: 8px;
  margin: 0.25rem;
  height: calc(100% - 0.5rem);
  width: calc(100% - 0.5rem);
  position: absolute;
  top: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.grid-square a:hover {
  background-color: #0c969e;
}

.grid-square a span {
}

.game-timer {
  background-color: #2e294e;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #fff;
  width: 120px;
  text-align: center;
  float: right;
  min-height: 48px;
}

@media (max-width: 767px) {
  .game-grid-wrap {
    margin: 0 -15px;
  }

  .game-grid {
  }

  .grid-square {
  }

  .grid-square a {
  }
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
